body{
    background-color: lightskyblue;
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
h3{color: white;
    font-size: 20px;
    float: left;
}
#logo{
    width: 30px;
    float: left;
    padding: 10px;
}
ul li:hover{
    background-color: skyblue;
    border: 2px solid lightskyblue;
}ul li a:hover{
    color: black;
    font-size: 20px;
    font-weight: bold;

}
ul li{
    display: inline;
    margin-right: 15px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;

}
#products{
    display:grid ;
    grid-template-columns:auto auto auto auto ;
    gap: 10px;
    padding: 10px;
}
.product{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.product p{
    color: black;
    font-weight: bold;
}
button{
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
}
button:hover{
    background-color: green;
    color: black;
}
.at{
    color: white;
}
@media screen and (max-width:430px) {
.product{
    padding: 5px;
    margin: 5px;
    width: fit-content;
}
#logo{
    width:20px;
    float: left;
    height: 20px;
    padding: 0px;
}h3{
    font-size: 0em;
}ul{
    display: inline-flex;
}
ul li{
    margin-right: 10px;
}
a{
    font-size: 15px;
}
#products{
    display: grid;
    grid-template-columns: auto auto;
}img{
    width: 100px;
    height: 100px;
}  
}
@media screen and (max-width:770px) {
    #products{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}
